<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>112739069929-088204h1opj889vo2j6bi6ql1f4b6sqk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.112739069929-088204h1opj889vo2j6bi6ql1f4b6sqk</string>
	<key>API_KEY</key>
	<string>AIzaSyB_Kn-4MYRCiia87xDRmM9jfmySmxEpkxE</string>
	<key>GCM_SENDER_ID</key>
	<string>112739069929</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cookingRecord</string>
	<key>PROJECT_ID</key>
	<string>cookingrecord-726f2</string>
	<key>STORAGE_BUCKET</key>
	<string>cookingrecord-726f2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:112739069929:ios:78e16fd67cf1095e79e578</string>
</dict>
</plist>